Identification
Login
"Create Account"
"Distribution of History"
"saved on Server"
"Content of Account"
"Account name"
Emailadress
"Person Meta-Data"
"User Role"
"Data/Message Transfer"
secure
"Specification of System type"
Blog
"Clustering of the Blog"
Domains
"Topics of Entries"
"Adding Content to Topics within Blog"
